body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.form-container {
    background-color: white;
    padding: 20px;
    padding-top: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Defina o máximo para telas maiores */
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 20px;
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    .form-container {
        max-width: 100%; /* Para telas menores, ocupa todo o espaço disponível */
    }
}